<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Статья блога</title>
  <link rel="shortcut icon" href="/img/favicon.ico">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <script defer src="/js/jquery-3.6.1.js"></script>
  <script defer src="/js/bootstrap.bundle.min.js"></script>
  <script defer src="/js/main.js"></script>
  <script defer src="/js/news.js"></script>
</head>
<body>

<div id="includedHeader" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"></div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mb-4">
      <div class="jumbotron">
        <div id="article-one"></div>

        <h3 class="mt-5">Комментарии</h3>
        <div id="wrapper-add-comment" class="mb-5">
          <form>
            <label for="message">Сообщение</label>
            <textarea name="message" id="message" class="form-control"></textarea>

            <div class="alert alert-danger mt-2" id="errorBlock"></div>

            <button id="message-submit" class="btn btn-success mt-3">Добавить комментарий</button>
          </form>
        </div>

        <div id="message-list"></div>
      </div>

    </div>

    <div id="includedAside" class="col-md-4"></div>
  </div>
</div>

<div id="includedFooter" class="footer"></div>

</body>
</html>